
@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Sharred/_LayoutPage1.cshtml";
}


<div class="pageTitle">
    <h2>Çalışan Sil</h2>
</div>

<div class="formContainer">
    <table class="formTable" cellpadding="0" cellspacing="0">
        <tr>
            <th style="color:white">Çalışan ID</th>
            <td>@Model.EmployeeID</td>
        </tr>
        <tr>
            <th style="color:white">Ad</th>
            <td>@Model.FirstName</td>
        </tr>
        <tr>
            <th style="color:white">Soyad</th>
            <td>@Model.LastName</td>
        </tr>
        <tr>
            <th style="color:white">Unvan</th>
            <td>@Model.Title</td>
        </tr>
        <tr>
            <th style="color:white">Doğum Tarihi</th>
            <td>@Model.BirthDate</td>
        </tr>
        <tr>
            <th style="color:white">Adres</th>
            <td>@Model.Address</td>
        </tr>
        <tr>
            <th style="color:white">Şehir</th>
            <td>@Model.City</td>
        </tr>
        <tr>
            <th style="color:white">Ülke</th>
            <td>@Model.Country</td>
        </tr>
        <tr>
            <th style="color:white">Telefon</th>
            <td>@Model.HomePhone</td>
        </tr>
        <tr>
            <th style="color:white">Kullanıcı Adı</th>
            <td>@Model.Username</td>
        </tr>
        <tr>
            <th style="color:white">Şifre</th>
            <td>@Model.Password</td>
        </tr>
    </table>

    <div class="deleteBase">
        <div class="deleteAccess">
            <label><strong>Bu çalışanı silmek istediğinizden emin misiniz?</strong></label>
        </div>

        <div class="confirmation-buttons">
            @using (Html.BeginForm("Delete", "Employee", new { id = Model.EmployeeID }, FormMethod.Post))
            {
                <input type="submit" value="Evet, Sil" class="submitButton" />
                <a href="@Url.Action("Index", "Employee")">İptal</a>
            }
        </div>
    </div>
</div>

@section styles{
    <link href="~/Assets/css/FormStyle.css" rel="stylesheet" />
}


